@charset "UTF-8";
 body {
	color: #212121;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 14pt;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-image: url(../images/background.jpg);
  }

#container {
	width: 1280px;
	height: auto;
	background-color: white;
	margin: auto;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
/*float the aside so it displays next to main.*/
aside {
	width: 150px;
	height: 1370px;
	background-color: #C4A8DD;
	float: left;	
}

header {
	width: 1280px;
	height: 250px;
	background-image: url(../images/piece_by_piece.svg);
	background-repeat: no-repeat;	
	background-position: center;
}
/*float the main so it shows up nect to the aside. reduce width by 150px so they both line up with the header*/
main {
	width: 1070px;
	height: 2000px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	float: left;
}
h1 {
	color: #074E9D;
	font-family: mokoko, serif;
	font-weight: 300;
	font-style: normal;
}
p {
	font-family: marigny, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

h3 {
	font-size: 12px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
/*clear the float so the footer shows up in the right place again*/
footer {
	width: 1280px;
	height: 50px;
	clear: both;
	background-color: #C4A8DD;
}
img {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.floatLeft {
	float: left;
	
}
.floatRight{
	float:right;
	
}
article {
	margin-top: 0px;
	margin-bottom: 30px;
}
nav {
	width: 1370px;
	height: 30px;
	position: fixed;
	top: 0px;
	background-color: white;
}
#container nav li {
	display: block;
	list-style-type: none;
	float: left;
	width: 60px;
	margin-right: 60px;
	font-family: sloop-script-one, sans-serif ;
	font-size: 24pt
		
}
#container nav ul {
	margin: auto;
	width: 570px;
}
nav a:link {
	color: #084D9C;
	text-decoration: none;
	padding: 10px;
}
nav a:visited {
	text-decoration: none;
	color: #3A1985;
}
nav a:hover {
	text-decoration: none;
	color: #F6EFEF;
	background-color: #084D9C;
	padding: 10px;
	border-radius: 20px;
}
nav a:active {
	text-decoration: none;
	color: #6E6D6E;
}.submit_btn {
	width: 170px;
	height: 30px;
	border-radius: 10px;
	background-color: #084D9C;
	color: #FDFDFD;
	font-size: 16px;
	-webkit-box-shadow: 6px 6px 35px 5px #000000;
	box-shadow: 6px 6px 35px 5px #000000;
}

.submit_btn:hover{
	
}
.column {
	width: 250px;
	height: 750px;
	float: left;
	margin-left: 60px;
	margin-right: 35px;
}
.cclicense{
	width: 500px;
	height: 20px;
	clear: both;
	padding-top: 90px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: medium;
}
main .cclicense p {
	border-style: solid;
	border-radius: 13px;
	padding-top: 19px;
	padding-right: 19px;
	padding-bottom: 19px;
	padding-left: 19px;
}
video {
	width: 600px;
	margin: auto;
	height: 600px;
}
/*rules the page will follow for the tablet sized device*/
@media (max-width: 1024px){
	#container{
		
		width: 768px;
	
	}
	header{
		width: 768px;
		
	}
	nav{
		width: 768px;
	}
	main{
		width: 578px;
		height: 2500px;
		
	}
	footer{
		width: 768px;
	}
	.column{
		margin: 0px 15px 0px 15px;
	}
}
/*rules the page will follow on mobile dveices. */
@media only screen and (max-width : 375px ){
		#container{
		
		width: 300px;
	
	}
	header{
		width: 300px;
		
		
	}
	nav{
		width: 300px;
		height: 250px;
		position: static;
	}
	main{
		width: 300px;
		height: 2600px;
		
	}
	footer{
		width: 300px;
	}
	.column{
		margin: 0px 15px 0px 15px;
	}
	aside{
		display: none;
	}
		#container nav li {
	display: list-item;
	list-style-type: none;
	float: none;
	margin: 0px 0px 20px 0px;
	width: 260px;
	text-align: center;	
	
}
	
	#container nav ul {
	width: 260px;
}

	nav a:link {
	display: block;
	width: 200px;
	background-color: #084D9C;
	color: white;
	}
	
	nav a:visited {
	text-decoration: none;
	color: white;
}
}
